@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');
:root {
    --bg-color: #343131; 
    --primary-color: #A04747;
    --secundary-color:#D8A25E ;
    --front: "Embed code"

}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--front);
    height: 100vh;
    margin: 0%;

}
h1{
    color: var(--bg-color);
}